<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../examenhijo1-element/examenhijo1-element.html">
<link rel="import" href="../examenhijo2-element/examenhijo2-element.html">

<dom-module id="examenpadre-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
	<template is='dom-if' if='[[oculta]]'>
		<div id="respuestaPest0">
			<examenhijo1-element on-mybuton="respuestaBoton"></examenhijo1-element>
		</div>	
	</template>		
    <examenhijo2-element mostrartabla="{{mostrartabla}}" mostrarlista="{{mostrarlista}}"></examenhijo2-element>
  </template>

  <script>
    /**
     * `examenpadre-element`
     * ejercicio padre
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ExamenpadreElement extends Polymer.Element {
      static get is() { return 'examenpadre-element'; }
      static get properties() {
        return {
          oculta: {
            type: Boolean,
            value: true
          }
        };
      }
	  respuestaBoton(e){
		var resp=e.detail.boton;
		if(resp=="Lista"){
			this.oculta=false;
			this.mostrarlista=true;
		}
		if(resp=="tabla"){
			this.oculta=false;
			this.mostrartabla=true;
		}
	  }
    }

    window.customElements.define(ExamenpadreElement.is, ExamenpadreElement);
  </script>
</dom-module>
